.else-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 166px;

}
.else-movies__button_active {
    width: 320px;
    height: 36px;
    border: none;
    background-color: rgba(47, 47, 47, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .else-movies {
        height: 140px;
    }
  }
@media screen and (max-width: 425px) {
    .else-movies {
        height: 166px;
    }
    .else-movies__button_active {
        width: 240px;
        
    }
  } 
